.add-task-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.to-add-task {
  height: $task-radius-length;
  width: $task-radius-length;
  display: block;
  margin: 10px auto;
  border-radius: 100%;
  border: 5px dashed;
  background: none;
}

.add-task {
  display: none;
}

.new-task-name {
  font-size: 14px;
  line-height: 24px;
  width: 110px;
}

.add-task-container form {
  display: none;
  position: absolute;
  top: 70px;
  width: 100%;
}

.add-task-markup {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: -1;
  font-size: 50px;
  font-weight: bold;
}

.add-task-title {
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  z-index: -1;
}

.add-task-container {
  &.task-order-1 {
    .to-add-task {
      border-color: $task-color-1;
    }
    .add-task-markup {
      color: $task-color-1;
    }
  }

  &.task-order-2 {
    .to-add-task {
      border-color: $task-color-2;
    }
    .add-task-markup {
      color: $task-color-2;
    }
  }

  &.task-order-3 {
    .to-add-task {
      border-color: $task-color-3;
    }
    .add-task-markup {
      color: $task-color-3;
    }
  }

  &.task-order-4 {
    .to-add-task {
      border-color: $task-color-4;
    }
    .add-task-markup {
      color: $task-color-4;
    }
  }
}
