$task-color-1: #6A8A62;
$task-color-2: #F15A2A;
$task-color-3: #6AAFCC;
$task-color-4: #DAD23D;

$task-radius-length: 150px;

body {
  @include background(image-url("background.png"));
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}