.switcher {
  position: relative;
  width: 80px;

  &.task-order-1 .activate {
    border-color: $task-color-1;
    background: $task-color-1;
  }

  &.task-order-2 .activate {
    border-color: $task-color-2;
    background: $task-color-2;
  }

  &.task-order-3 .activate {
    border-color: $task-color-3;
    background: $task-color-3;
  }

  &.task-order-4 .activate {
    border-color: $task-color-4;
    background: $task-color-4;
  }

  .activate {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 15px;
  }

  &.active .activate {
    background: transparent;
  }

  .task-time {
    position: absolute;
    width: 100%;
    top: 4px;
    right: 10px;
    color: white;
    z-index: -1;
    text-align: right;
  }

  .hours {
    font-size: 28px;
    font-weight: bold;
    margin-left: 12px;
  }

  .unit {
    font-size: 12px;
    font-weight: lighter;
  }
}