.task {
  &.task-order-1 {
    .start {
      background: $task-color-1;
    }
    .task-name {
      color: $task-color-1;
    }
  }

  &.task-order-2 {
    .start {
      background: $task-color-2;
    }
    .task-name {
      color: $task-color-2;
    }
  }

  &.task-order-3 {
    .start {
      background: $task-color-3;
    }
    .task-name {
      color: $task-color-3;
    }
  }

  &.task-order-4 {
    .start {
      background: $task-color-4;
    }
    .task-name {
      color: $task-color-4;
    }
  }

  .task-name {
    font-size: 24px;
    font-weight: bold;
  }
}

.start {
  cursor: pointer;
  margin: 10px auto;
  display: block;
  border-radius: 100%;
  border: 15px solid white;
  height: $task-radius-length;
  width: $task-radius-length;
  box-sizing: border-box;
}