@import "compass";
@import "compass/reset";

@import "global";
@import "home";
@import "task_list";
@import "task";
@import "add_task";
@import "time";
@import "switcher";
@import "switchers";
@import "state";
@import "state_task_name";