<script type="text/template" id="add_task">
  <input type="text" class="new-task-name"/>
  <button class="add-task">+</button>
</script>
<script type="text/template" id="home">
  <header>
    LOGO
  </header>
</script>
<script type="text/template" id="task_detail">
  <span class="task-name"><%= name %></span>
  <time></time>
  <button class="stop">Stop</button>
</script>
<script type="text/template" id="task_summary">
  <button class="start"><%= name %></button>
  <span class="task-name"><%= name %></span>
</script>