<script type="text/template" id="add_task">
  <span class="add-task-title">Add a task</span>
  <span class="add-task-markup">+</span>
  <button class="add-task"></button>
  <input type="text" class="new-task-name"/>
</script>
<script type="text/template" id="home">
  <header>
    LOGO
  </header>
</script>
<script type="text/template" id="task_detail">
  <span class="task-name"><%= name %></span>
  <time></time>
  <button class="stop">Stop</button>
</script>
<script type="text/template" id="task_summary">
  <button class="start"></button>
  <span class="task-name"><%= name %></span>
</script>