<script type="text/template" id="add_task">
  <span class="add-task-title">Add a task</span>
  <span class="add-task-markup">+</span>
  <button class="to-add-task"></button>
  <form>
    <input type="text" class="new-task-name">
    <input type="submit" class="add-task" value="Add">
  </form>
</script>
<script type="text/template" id="chart">
  <div class="goal">Goal</div>
  <hr class="goal-line"/>
  <canvas class="chart-content" width="430" height="200"></canvas>
</script>
<script type="text/template" id="home">
  <header>
    <strong>10k hours</strong>
    Your way to mastery.
  </header>
</script>
<script type="text/template" id="switcher">
  <button class="activate"></button>
  <div class="task-time">
    <div class="hours"><%= totalHours %></div>
    <div class="unit"><%= unit %></div>
  </div>
</script>
<script type="text/template" id="task">
  <a href="#/time/<%= id %>" class="start"></a>
  <span class="task-name"><%= name %></span>
</script>
<script type="text/template" id="time">
  <header class="task-name"><%= name %></header>
  <canvas class="time-circle" width="320" height="320"></canvas>
  <button class="stop">Stop</button>
</script>